@media screen and (max-width: 1050px) {

    .about__container {
        padding: 5rem !important;

        .about__img {
            display: none;
        }
    }

    body {
        margin-right: -5.5rem;
        padding: 0;
    }
}

@media screen and (max-width: 700px) {

    .navbar__menu {
        padding: 2rem;
    }

    .about__container {
        padding: 0rem;

        .about__img {
            display: none;
        }
    }

    .navbar__menu-links {
        display: none;
    }
}

@media screen and (max-width: 550px) {

    .navbar__menu {
        padding: 1rem;
    }

    .about__container {
        padding: 0rem;

        .about__img {
            display: none;
        }
    }
}
