@use '../base/typography' as *;
@use '../abstracts/colors' as *;

.about__container {
    background-color: $bg-color;
    padding: 5rem 16rem 4rem 16rem;
    display: flex;
    align-items: center;
    // display: grid;
    // grid-template-columns: 1fr 2fr;

    .about__img {
        background-image: url('../../../public/media/veronica-hike.jpg');
        width: 720px;
        background-size: cover;
        background-position: center;
        height: 580px;

        // background-size: cover;
        // background-repeat: no-repeat;
        // background-attachment: fixed;
        // background-position: center;
    }

    .about__text {
        padding: 1rem 0 0 2rem;
        font-family: $primary-font;
        letter-spacing: 0.5px;

        h3 {
            padding: 0rem 1rem 1rem 0;
            font-size: 30px;
            font-weight: 400;
            color: $heading-color;

        }

        h4 {
            padding: 0.5rem 0.5rem 0.5rem 0;
            font-size: 15px;
            font-weight: 500;
            color: $accent-color;
        }

        p {
            padding: 0rem 1rem 1rem 0;
            font-size: 15px;
            font-weight: 300;
            color: $font-color;
        }

        .about__text-lang {
            text-transform: uppercase;
            font-size: 14px;
        }

        .about__text-studies {
            margin-bottom: 1rem;

            ul {
                list-style: none;

                li {
                    font-weight: 300;
                    font-size: 15px;
                    color: $font-color;
                }

            }
        }

        .about__text-cv {
            text-decoration: underline;
            cursor: pointer;

        }

    }
}