@use '../base/typography' as *;
@use '../abstracts/colors' as *;
@use '../utilities/animations' as *;

.portfolio__container {
    background-color: $bg-color;
    padding-top: 4rem;
    text-align: center;
    font-family: $primary-font;
    letter-spacing: 0.5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    h3 {
        padding: 0rem 1rem 1rem 0;
        font-size: 30px;
        font-weight: 400;
        color: $heading-color;
        -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

    }

    button {
        font-size: 17px;
        font-family: $primary-font;
        padding: 0.7rem;
        margin: 2rem 0.5rem 4rem 0.5rem;
        width: 200px;
        border-style: none;
        background-color: transparent;
        color: white;
        cursor: pointer;

    }

    .triggered-btn {
        border-style: none;
        color: white;
        border-radius: 30px;
        // text-decoration: underline;
        font-weight: 400;
        border: 1px solid $accent-color;
        
    }
}