@use '../base/typography' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/media-query' as *;

.header__container {
    background-image: url('../../media/profile-pic.jpg');
    background-size: cover;
    background-position: center;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        height: 39.25rem;
        opacity: 0.5;
    }

    .header__info {

        padding: 10rem 5rem 10rem 5rem;
        z-index: 100;
        position: relative;

        font-family: $primary-font;

        h1 {
            color: $heading-color;
            font-size: 32px;
            font-weight: 400;
        }

        h2 {
            color: $h2-heading-color;
            text-transform: uppercase;
            font-size: 22px;
            font-weight: 400;
        }

        button {
            padding: 1rem;
            margin-top: 2rem;
            width: 12rem;
            border-style: none;
            border-radius: 20px;
            background-color: $btn-color;
            color: white;
            text-transform: uppercase;
            font-family: $primary-font;
            font-size: 15px;
            cursor: pointer;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

            &:hover {
                transform: scale(1.07); 

            }
        }
    }
}