@use '../base/typography' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/media-query' as *;


.navbar {
    // background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    z-index: 100;
    // position: relative;
    position: sticky;
    top: 0;

    .navbar__menu-links {
        text-transform: uppercase;
        margin-left: 2rem;

        ul {
            list-style: none;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;

            a {
                text-decoration: none;
                letter-spacing: 1.2px;
                font-size: 20px;
                margin: 0 2rem 0 2rem;
                font-family: $primary-font;
                color: $heading-color;
            }

            a:hover {
                color: $accent-color;
            }
        }
    }

    .navbar__menu-links_icons {
        margin: 2rem 4rem 2rem 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        list-style: none;

        i {
            color: $accent-color;
            font-size: 30px;
            padding-left: 2rem;
        }

        i:hover {
            transform: scale(1.07); 
        }
    }

    .navbar__menu-mobile {
        background-color: yellow;
        margin-left: 2rem;
        display: none;
        position: relative;

    }
        
        svg {
            cursor: pointer;
        }

        .navbar__menu-mobile_container {
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            text-align: end;
            background-color: deeppink;
            padding: 1rem;
            position: absolute;
            top: 2rem;
            right: 0;
            min-width: 210px;

            p {
                margin: 2rem 0;
            }

            .navbar__menu-mobile_icons {
                display: none;
            }
    }   
}

// .navbar--scrolled {
//     background-color: yellow;
// }