@use '../base/typography' as *;
@use '../abstracts/colors' as *;

.contact__container {
        font-family: $primary-font;
        background-image: url('../../../public/media/contact.jpg');
        background-size: cover;
        background-position: center;
        text-align: center;
        padding: 7rem;

        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(36, 38, 39, 0.5);
          }


        h3 {
            padding: 0rem 1rem 1rem 0;
            font-size: 30px;
            font-weight: 400;
            color: $heading-color;
            z-index: 100;
            position: relative;
        }


        h4 {
            padding: 0.5rem 0.5rem 0.5rem 0;
            font-size: 20px;
            font-weight: 500;
            color: $accent-color;
            z-index: 100;
            position: relative;
        }

        p {
            font-weight: 200;
            font-size: 17px;
            z-index: 100;
            position: relative;
            color: $font-color;
        }

        .contact__alt {
            display: flex;
            justify-content: center;

            svg {
                margin-right: 0.7rem;
            }

            p {
                margin: 2rem;
                z-index: 100;
                position: relative;
                color: $font-color;

                a {
                    text-decoration: none;
                    color: $font-color;
                }

            }
        }
    
}